/* * {
  outline: solid 1px rgb(0, 68, 255);
} */

@media (max-width: 488px) {
  h1 {
    font-size: large;
    font-size: 1rem;
  }
  ul {
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0.7rem;
  }

  .pesquisa {
    font-family: "Abril Fatface", cursive;
    background-color: dimgray;
  }

  #btnpesquisar {
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    font-family: "Abril Fatface", cursive;
  }

  .btnMarcarComoGostei {
    font-family: "Abril Fatface", cursive;
    width: 10rem;
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    color: rgb(0, 0, 0);
  }

  .btnMarcarComoGostei:focus,
  #btnpesquisar:focus,
  .pesquisa:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
}

@media (max-width: 785px) {
  body {
    background-image: linear-gradient(red, yellow, rgb(203, 214, 203));
  }

  main,
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: "Abril Fatface", cursive;
    font-family: "Alfa Slab One", cursive;
    font-family: "Asset", cursive;
  }

  li {
    border: 0.1rem solid black;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    align-items: center;
    text-align: justify;
    margin-bottom: 0.4rem;
    background-color: aliceblue;
    font-family: "Abril Fatface", cursive;
  }

  .pesquisa {
    font-family: "Abril Fatface", cursive;
    background-color: dimgray;
  }

  #btnpesquisar {
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    font-family: "Abril Fatface", cursive;
  }

  .btnMarcarComoGostei {
    font-family: "Abril Fatface", cursive;
    width: 10rem;
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    color: rgb(0, 0, 0);
  }

  .btnMarcarComoGostei:focus,
  #btnpesquisar:focus,
  .pesquisa:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
}

@media (min-width: 786px) {
  body {
    background-image: linear-gradient(red, yellow, rgb(203, 214, 203));
  }

  main,
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: "Abril Fatface", cursive;
    font-family: "Alfa Slab One", cursive;
    font-family: "Asset", cursive;
  }

  li {
    border: 0.1rem solid black;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    align-items: center;
    text-align: justify;
    margin-bottom: 0.4rem;
    background-color: aliceblue;
    font-family: "Abril Fatface", cursive;
  }

  .pesquisa {
    font-family: "Abril Fatface", cursive;
    background-color: dimgray;
  }

  #btnpesquisar {
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    font-family: "Abril Fatface", cursive;
  }

  .btnMarcarComoGostei {
    font-family: "Abril Fatface", cursive;
    width: 10rem;
    cursor: pointer;
    background-color: rgb(138, 132, 132);
    color: rgb(0, 0, 0);
  }

  .btnMarcarComoGostei:focus,
  #btnpesquisar:focus,
  .pesquisa:focus {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
}
