@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
li{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 1050px;
}
.container-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-img{
    width: 180px;
    height: 240px;
}
.container-list{
    display: flex;
    border-radius: 8px;
    height: 297px;
    width: 78%;
}
.list-itens{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
}
.list-itens > li{
    width: 34%;
    border: 1px solid black;
    border-radius: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}